
.navbar {
  padding : 0px !important;
}

.bg-light{
 box-sizing: border-box;
  width: 1343px;
  border: 1px solid rgba(236,237,239,0.5);
  background-color: #F8F9FB;
  box-shadow: 0 2px 4px 0 rgba(236,237,239,0.5);
}

.btn-primary{
  background-color: #680000 !important;
  width: 100px !important;
  border-color : #680000;
  border : 0px solid transparent;
  border-radius: 0px;
}

.img{
  width : 80px;
}

.icon-bar {
  width: 100px;
  height : 100%;
  background-color: #680000;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: #B50000;
  width : 90%;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  text-decoration: none;
}

.active {
  background-color: red;
  width : 90%;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  text-decoration: none;
}

.nav-text{
  font-size: 12px;
}